@import './styles/Expenses.scss';
@import './styles/ExpenseItem.scss';
@import './styles/ExpenseDate.scss';
@import './styles/Card.scss';
@import './styles/ExpenseForm.scss';
@import './styles/NewExpense.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 80%;
  margin: 0 auto;
}

body {
  background:rgba(31, 20, 20, 0.93);
}